.fp-tableCell {
  vertical-align: top; }

h1 {
  color: #ffffff;
  font-size: 60px;
  line-height: 75px;
  font-family: "garamond";
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 9px; }

p {
  color: #e0ded6;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  font-family: "lato-r"; }
  p a {
    font-family: "lato-black";
    color: #e0ded6;
    text-decoration: none; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #ffffff;
  width: 8px;
  height: 8px;
  margin: -6px 0 0 -4px; }

#fp-nav ul li,
.fp-slidesNav ul li {
  margin: 40px 32px;
  transition: 1.4s; }

.hide-copyright {
  opacity: 0;
  float: left;
  padding-left: 18px;
  font-family: "lato-r";
  color: #e0ded6;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase; }

.hide-copyright.show {
  opacity: 1; }

body {
  background: #070f2e;
  margin: 0; }
  body .copyright {
    position: fixed;
    left: 52px;
    bottom: 50px;
    color: #e0ded6;
    z-index: 11;
    height: 54px; }
    body .copyright .btn-copyright {
      background: url("../images/btn-copyright.png") no-repeat center;
      width: 40px;
      height: 40px;
      display: block;
      float: left;
      margin: 6px 0; }
  body .parallax-mirror {
    opacity: 1; }
  body .side-menu {
    position: fixed;
    transition: 0.6s;
    height: 100%;
    background: #070f2e;
    width: 100%;
    margin-left: -100%;
    z-index: 120;
    padding-top: 200px; }
    body .side-menu .wrapper-list_menu {
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
      text-align: center; }
      body .side-menu .wrapper-list_menu ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        body .side-menu .wrapper-list_menu ul li {
          height: 90px;
          margin-bottom: 5px; }
          body .side-menu .wrapper-list_menu ul li span {
            color: #e0ded6;
            font-size: 14px;
            font-family: "lato-r";
            text-transform: uppercase;
            line-height: 32px;
            opacity: 0;
            transition: 0.5s; }
          body .side-menu .wrapper-list_menu ul li a {
            color: #3f4766;
            font-size: 48px;
            font-family: "garamond";
            font-weight: bold;
            text-decoration: none;
            display: block;
            transition: 0.5s; }
        body .side-menu .wrapper-list_menu ul li.active span,
        body .side-menu .wrapper-list_menu ul li:hover span {
          opacity: 1; }
        body .side-menu .wrapper-list_menu ul li.active a,
        body .side-menu .wrapper-list_menu ul li:hover a {
          color: #e0ded6; }
  body .hidden-btn_menu,
  body .burger-menu {
    position: fixed;
    left: 40px;
    top: 42px;
    z-index: 150;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    cursor: pointer; }
    body .hidden-btn_menu .hamburger,
    body .burger-menu .hamburger {
      width: 60px;
      cursor: pointer; }
    body .hidden-btn_menu .hamburger path,
    body .burger-menu .hamburger path {
      color: #ffffff;
      stroke-width: 0.3px;
      stroke: currentcolor;
      transition: 0.2s; }
  body .burger-menu.open-menu .p1 {
    d: path("M2,8 L8,2"); }
  body .burger-menu.open-menu .p2 {
    d: path("M5,5 L5,5"); }
  body .burger-menu.open-menu .p3 {
    d: path("M2,2 L8,8"); }
  body .burger-menu.open-menu {
    z-index: 130; }
  body .hidden-btn_menu {
    z-index: 140; }
  body .logo {
    position: fixed;
    left: 0;
    right: 0;
    width: 374px;
    bottom: 1px;
    top: 63px;
    margin: auto;
    transition: 1.6s;
    text-align: center;
    z-index: 0; }
    body .logo * {
      transition: 0.6s;
      position: absolute;
      top: 0;
      left: 0; }
    body .logo .orange-logo {
      opacity: 1; }
    body .logo .white-logo {
      opacity: 0; }

body.open-menu {
  overflow: hidden; }
  body.open-menu .logo .orange-logo {
    opacity: 0; }
  body.open-menu .logo .white-logo {
    opacity: 1; }
  body.open-menu .side-menu {
    margin-left: 0; }
  body.open-menu .parallax-mirror {
    transform: translateX(25%) !important;
    opacity: 0.9; }

.section {
  font-size: 50px;
  color: #ff0000; }
  .section .next-slide {
    position: absolute;
    background: url("../images/hint-scroll.png") no-repeat center center;
    width: 26px;
    height: 41px;
    left: 0;
    right: 0;
    bottom: 210px;
    margin: 0 auto; }
  .section .next-slide:after {
    content: "";
    animation-name: spin;
    animation-duration: 1800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 3.5px;
    height: 3.5px;
    background: #ffffff;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 50%;
    margin: auto;
    top: 20px; }

@keyframes spin {
  from {
    transform: translateY(-16px); }
  to {
    opacity: 0.3; } }
.section_01 .wrapper-section {
  width: 100%;
  max-width: 1080px;
  margin: 88px auto; }
  .section_01 .wrapper-section h1 {
    margin-bottom: 68px; }

body.fp-viewing-secondPage .logo {
  margin-top: 350px; }

/*.section_05 {*/
  /*height: 1000px !important; }*/

/*# sourceMappingURL=style.css.map */
body .logo {
  z-index: 1;
}
.wrapperArc {
  position: relative;
  height: 100%;
}

.arcStyle {
  height: 100%;
  overflow: hidden;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
}

#myCanvas {
  display: none;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50vh !important;
}




/*animate first slide titles*/

/*.fp-tableCell {*/
  /*vertical-align: middle;*/
/*}*/

#titlesFade {
  opacity: 0;
  position: relative;
  top: 80px;
  font-size: 45px;
  transition: all 1.6s;
}

/*animate pie style*/

/*.section_01 .wrapper-section {*/
  /*transition: all .3s*/
/*}*/

.section_01 {
  transition: all .1s
}









.wrapp2 {
  width: 50vh;
  height: 50vh;
  position: relative;
  margin: auto;
}

.arct2 {
  width: 50vh;
  height: 50vh;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0;
  /*clip: rect(0px, 253px, 125px, 0px);*/
  position: absolute;
}

.leftLine {
  position: absolute;
  left: -10vh;
  top: 50%;
  width: 10vh;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  border-right: none;
}

.leftLineCircle {
  position: absolute;
  left: -12.2vh;
  top: calc(50% - 11px);
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0;
}

.leftLineBot {
  position: absolute;
  left: -5vh;
  top: 83%;
  width: 10vh;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  border-right: none;
  transform: rotate(-34deg)
}

.leftLineBotCircle {
  position: absolute;
  left: -6.2vh;
  top: calc(90% - 11px);
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0;
}

.rightLine {
  position: absolute;
  right: -10.4vh;
  top: 50%;
  width: 10vh;
  height: 1px;
  border-top: 1px dashed #fff;
  opacity: 0;
  border-right: none;
}

.rightLineCircle {
  position: absolute;
  right: -12.6vh;
  top: calc(50% - 11px);
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0;
}

.rightLineTop {
  position: absolute;
  right: -6.2vh;
  top: 20%;
  width: 10vh;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  border-right: none;
  transform: rotate(-34deg);
}

.rightLineTopCircle {
  position: absolute;
  right: -7.6vh;
  top: calc(13.4% - 11px);
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0;
}

.rightLineBot {
  position: absolute;
  right: -6.2vh;
  top: 80%;
  width: 10vh;
  height: 1px;
  border-top: 1px dashed #fff;
  opacity: 0;
  border-right: none;
  transform: rotate(34deg);
}

.rightLineBotCircle {
  position: absolute;
  right: -7.4vh;
  top: calc(86.8% - 11px);
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0;
}


/*ANIMATION 2 SLIDE*/

.anim2 {
  opacity: 1;
  animation: animate2 1.5s linear;
}

@keyframes animate2 {
  0% {
    clip: rect(0px, 0px, 25vh, 0px);
  }

  50% {
    clip: rect(0px, 51vh, 25vh, 0px);
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(270deg);
    clip: rect(0px, 51vh, 51vh, 0px);
  }
}
/*********************************/

/*BACK CIRCLE*/

.anim22 {
  opacity: 1;
  animation: animate22 0.6s linear forwards;
}

@keyframes animate22 {
  0% {
    clip: rect(0px, 51vh, 51vh, 0px);
    transform: rotate(270deg);
  }

  50% {
    clip: rect(0px, 51vh, 25vh, 0px);
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
    clip: rect(0px, 0px, 25vh, 0px);
  }
}
/*********************************/

/*LEFT LINE*/
.animLeftLine {
  animation: leftLine 1s linear 1.5s forwards;
}

@keyframes leftLine {
  0% {
    clip: rect(auto,auto,auto,10vh);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    clip: rect(auto,auto,auto,0);
  }
}
/*********************************/

/*BACK LEFT LINE*/
.animLeftLine2 {
  animation: leftLine2 0.6s linear forwards;
}

@keyframes leftLine2 {
  0% {
    clip: rect(auto,auto,auto,0);
    opacity: 1;
  }
  100%{
    opacity: 0;
    clip: rect(auto,auto,auto,10vh);
  }
}
/*********************************/

/*RIGHT LINE ANIME*/
.animRightLine {
  animation: rightLine 1s linear 1.5s forwards;
}

@keyframes rightLine {
  0% {
    clip: rect(auto,0,auto,auto);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    clip: rect(auto,10vh,auto,auto);
  }
}
/**********************************/

/*RIGHT LINE ANIME BACK*/
.animRightLine2 {
  animation: rightLine2 0.6s linear forwards;
}

@keyframes rightLine2 {
  0% {
    clip: rect(auto,10vh,auto,auto);
    opacity: 1;
  }
  100%{
    opacity: 0;
    clip: rect(auto,0,auto,auto);
  }
}
/**********************************/


/*RIGHT LINE BOT ANIME*/
.animRightLineBot {
  animation: rightLineBot 1s linear 1.5s forwards;
}

@keyframes rightLineBot {
  0% {
    clip: rect(auto,0,auto,auto);
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0.5;
    clip: rect(auto,10vh,auto,auto);
  }
}
/**********************************/

/*RIGHT LINE BOT ANIME BACK*/
.animRightLineBot2 {
  animation: rightLineBot2 0.6s linear forwards;
}

@keyframes rightLineBot2 {
  0% {
    clip: rect(auto,10vh,auto,auto);
    opacity: 0.5;
  }
  100%{
    opacity: 0;
    clip: rect(auto,0,auto,auto);

  }
}
/**********************************/

/*LEFT CIRCLE ANIME*/
.animLeftLineCircle {
  animation: animLeftLineCircle 1s linear 2.5s forwards;
}

@keyframes animLeftLineCircle {
  0% {
    opacity: 1;
    clip: rect(auto,auto,auto,20px);
  }
  100%{
    opacity: 1;
    clip: rect(auto,auto,auto,0);
  }
}
/**********************************/


/*LEFT CIRCLE ANIME BACK*/
.animLeftLineCircle2 {
  animation: animLeftLineCircle2 0.3s linear forwards;
}

@keyframes animLeftLineCircle2 {
  0% {
    opacity: 1;
    clip: rect(auto,auto,auto,0);
  }
  100%{
    opacity: 0;
    transform: rotate(180deg);
    clip: rect(auto,auto,auto,20px);

  }
}
/**********************************/

/*RIGH CIRCLE ANIME*/
.animRightLineCircle {
  animation: animRightLineCircle 1s linear 2.5s forwards;
}

@keyframes animRightLineCircle {
  0% {
    opacity: 1;
    clip: rect(auto,0px,auto,auto);
  }
  100%{
    opacity: 1;
    clip: rect(auto,25px,auto,auto);
  }
}
/**********************************/

/*RIGH CIRCLE ANIME BACK*/
.animRightLineCircle2 {
  animation: animRightLineCircle2 0.3s linear forwards;
}

@keyframes animRightLineCircle2 {
  0% {
    opacity: 1;
    clip: rect(auto,25px,auto,auto);
  }
  100%{
    opacity: 0;
    clip: rect(auto,0px,auto,auto);
  }
}
/**********************************/

/*RIGH BOT CIRCLE ANIME*/
.animRightLineBotCircle {
  animation: animRightLineBotCircle 1s linear 2.5s forwards;
}

@keyframes animRightLineBotCircle {
  0% {
    opacity: 0.5;
    clip: rect(auto,0px,auto,auto);
  }
  100%{
    opacity: 0.5;
    clip: rect(auto,25px,auto,auto);
  }
}
/**********************************/

/*RIGH BOT CIRCLE ANIME BACK*/
.animRightLineBotCircle2 {
  animation: animRightLineBotCircle2 0.3s linear forwards;
}

@keyframes animRightLineBotCircle2 {
  0% {
    opacity: 0.5;
    clip: rect(auto,25px,auto,auto);
  }
  100%{
    opacity: 0;
    clip: rect(auto,0px,auto,auto);
  }
}

/**********************************/








.animLeftLine {
  animation: leftLine 1s linear 1.5s forwards;
}

@keyframes leftLine {
  0% {
    clip: rect(auto,auto,auto,10vh);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    clip: rect(auto,auto,auto,0);
  }
}

.animRightLine {
  animation: rightLine 1s linear 1.5s forwards;
}

@keyframes rightLine {
  0% {
    clip: rect(auto,0,auto,auto);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    clip: rect(auto,10vh,auto,auto);
  }
}

.animRightLineBot {
  animation: rightLineBot 1s linear 1.5s forwards;
}

@keyframes rightLineBot {
  0% {
    clip: rect(auto,0,auto,auto);
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0.5;
    clip: rect(auto,10vh,auto,auto);
  }
}

.animLeftLineCircle {
  animation: animLeftLineCircle 1s linear 2.5s forwards;
}

@keyframes animLeftLineCircle {
  0% {
    opacity: 1;
    clip: rect(auto,auto,auto,20px);
  }
  100%{
    opacity: 1;
    clip: rect(auto,auto,auto,0);
  }
}

.animRightLineCircle {
  animation: animRightLineCircle 1s linear 2.5s forwards;
}

@keyframes animRightLineCircle {
  0% {
    opacity: 1;
    clip: rect(auto,0px,auto,auto);
  }
  100%{
    opacity: 1;
    clip: rect(auto,25px,auto,auto);
  }
}

.animRightLineBotCircle {
  animation: animRightLineBotCircle 1s linear 2.5s forwards;
}

@keyframes animRightLineBotCircle {
  0% {
    opacity: 0.5;
    clip: rect(auto,0px,auto,auto);
  }
  100%{
    opacity: 0.5;
    clip: rect(auto,25px,auto,auto);
  }
}












/*.circlesBlock {*/
  /*width: 41vh;*/
  /*height: 41vh;*/
  /*border: 1px solid #fff;*/
  /*border-radius: 50%;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*margin: auto;*/
/*}*/





.dopStyleRotate {
  position: relative;
  height: 50vh;
  width: 50vh;
  margin: auto;
  top: 0;
}

.circlesRotate {
  -webkit-animation: circlesRotate 2.8s cubic-bezier(0, 0, 0.07, 1.02);
  -moz-animation: circlesRotate 2.8s cubic-bezier(0, 0, 0.07, 1.02);
  -o-animation: circlesRotate 2.8s cubic-bezier(0, 0, 0.07, 1.02);
  animation: circlesRotate 2.8s cubic-bezier(0, 0, 0.07, 1.02);
}

@-webkit-keyframes circlesRotate {
  0% {
    -webkit-transform: rotate(170deg);
    -moz-transform: rotate(170deg);
    -o-transform: rotate(170deg);
    transform: rotate(170deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-moz-keyframes circlesRotate {
  0% {
    -webkit-transform: rotate(170deg);
    -moz-transform: rotate(170deg);
    -o-transform: rotate(170deg);
    transform: rotate(170deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-o-keyframes circlesRotate {
  0% {
    -webkit-transform: rotate(170deg);
    -moz-transform: rotate(170deg);
    -o-transform: rotate(170deg);
    transform: rotate(170deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes circlesRotate {
  0% {
    -webkit-transform: rotate(170deg);
    -moz-transform: rotate(170deg);
    -o-transform: rotate(170deg);
    transform: rotate(170deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}



.circlesRotateNext {
  -webkit-animation: circlesRotateNext 1.8s cubic-bezier(0, 0, 0.07, 1.02);
  -moz-animation: circlesRotateNext 1.8s cubic-bezier(0, 0, 0.07, 1.02);
  -o-animation: circlesRotateNext 1.8s cubic-bezier(0, 0, 0.07, 1.02);
  animation: circlesRotateNext 1.8s cubic-bezier(0, 0, 0.07, 1.02);
}

@-webkit-keyframes circlesRotateNext {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-moz-keyframes circlesRotateNext {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-o-keyframes circlesRotateNext {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes circlesRotateNext {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/***********************************************************************/

.fp-viewing-02 .logo .orange-logo {
  opacity: 0;
}

.fp-viewing-02 .logo {
  width: 32vh;
}

.white-logoAliname {
  transition: all 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  display: block;
  margin: auto;
}

/*.fp-viewing-02 .logo {*/
  /*position: fixed;*/
  /*bottom: 1px;*/
  /*top: 0;*/
  /*height: 110px;*/

/*}*/

.logoTwoMonitor {
  top: 53vh !important;
}

.leftBlockText {
    width: 250px;
    text-align: center;
    position: absolute;
    top: 0;
    left: -390%;
    right: 0;
    margin: auto;
    bottom: 0;
    height: 145px;
    display: none;
     -webkit-transition: all 1.3s;
     -moz-transition: all 1.3s;
     -o-transition: all 1.3s;
    transition: all 1.3s;
}

.leftBlockTextFade {
  left: -110vh;
}

.leftBlockTextTitles {
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
  font-family: "lato-black";
}

.leftBlockTextTitlesDate {
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  font-family: "lato-black";
}

.lBlockImg {
  width: 100%;
  height:30px;
  background: url("../images/platinum.png") no-repeat center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.lBlockImgTopRight {
  width: 100%;
  height: 60px;
  background: url("../images/zolli2.png") no-repeat center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.lBlockImgBot {
  width: 100%;
  height: 60px;
  background: url("../images/logoCopy.png") no-repeat center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.rightBlockText {
  display: none;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  width: 250px;
  text-align: center;
  position: absolute;
  top: 8vh;
  left: 0;
  right: -190%;
  margin: auto;
  bottom: auto;
  height: 145px;
}

.rightBlockTextFade {
  right: -80vh;
}

.leftBlockTextBot {
  display: none;
  -webkit-transition: all 2.3s;
  -moz-transition: all 2.3s;
  -o-transition: all 2.3s;
  transition: all 2.3s;
  width: 250px;
  text-align: center;
  position: absolute;
  top: auto;
  right: 0;
  left: -590%;
  margin: auto;
  bottom: 12vh;
  height: 145px;
}

.leftBlockTextBotFade {
  left: -90vh;
}

.rightBlockTextMiddle {
  display: none;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
  width: 250px;
  text-align: center;
  position: absolute;
  top: -3vh;
  left: 0;
  right: -990%;
  margin: auto;
  bottom: 0;
  height: 145px;
}

.lBlockImgRightMidle {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 24px;
  vertical-align: middle;
  display: inline;
  /* background: url(../images/logoCopy.png) no-repeat center; */
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.rightBlockTextMiddleFade {
  right: -100vh;
}

.rightBlockTextBot {
  /*display: none;*/
  -webkit-transition: all 2.5s;
  -moz-transition: all 2.5s;
  -o-transition: all 2.5s;
  transition: all 2.5s;
  width: 250px;
  text-align: center;
  position: absolute;
  top: auto;
  left: 0;
  right: -1190%;
  margin: auto;
  bottom: 12vh;
  height: 145px;
}

.lBlockImgRightBot {
  font-size: 24px;
  color: white;
  height: 50px;
  display: inline;
  vertical-align: middle;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.rightBlockTextBotFade {
  right: -85vh;
}

.opasityStyleAll {
  opacity: 0.5;
}

.lBlockImg:hover,
.lBlockImgRightMidle:hover,
.lBlockImgRightBot:hover,
.lBlockImgBot:hover,
.lBlockImgTopRight:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  font-size: 34px;
  cursor: pointer;
}

.platinum {
  background: url("../images/brends.png") no-repeat center;
}

.logoBrends {
  background: url(../images/logoBrends.png) no-repeat center;
  width: 100%;
  height: 150px;
  margin: auto;
}

.brendsBlock {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.rows {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.brendsText {
  padding:20px 120px 0 120px;
}

.brendsBlock:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

.closedBrends {
  width: 70px;
  height: 70px;
  border: none;
  background: url(../images/butX.png) no-repeat center;
  display: block;
  margin: auto;
  outline: none !important;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.closedBrends:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}



/*SLIDE 3*/

.leftProdactionImg {
    background: url("../images/lamp.png") no-repeat center;
    width: 100%;
    height: 163px;
    margin-right: auto;
    margin-left: auto;
}

.middleProdactionImg {
    background: url("../images/social.png") no-repeat center;
    width: 100%;
    height: 163px;
    margin-right: auto;
    margin-left: auto;
}

.rightProdactionImg {
    background: url("../images/quality.png") no-repeat center;
    width: 100%;
    height: 163px;
    margin-right: auto;
    margin-left: auto;
}

.leftProdaction,
.middleProdaction,
.rightProdaction {
    width: 28%;
    text-align: center;
    position: relative;
}

.titlesProd {
  padding-top: 25px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-family: "lato-black";
}

.productionBlock {
  padding: 100px 0 0 0;
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
/*@media (max-height: 899px) {*/
  /*#myCanvas {*/
    /*width: 48vh !important;*/
  /*}*/

  /*.rightTopLIne,*/
  /*.rightBotLIne{*/
    /*left: 40vh;*/
  /*}*/
/*}*/




/*ANIMATE 3 PAGE*/

.firstAnim,
.secondAnim,
.thirdAnim {
  position: absolute;
  top: 80px;
  right: -36%;
  width: 70%;
}

.ligter {
  padding: 0;
  margin: 0;
  line-height: 0;
  list-style-type: none;
}

.ligt {
  background: #c3c3c3;
  width: 4px;
  height: 4px;
  line-height: 0;
  margin: 0 1.65% 0 1.65%;
  padding: 0;
  border-radius: 50%;
  transition: all .3s;
  float: left;
}

.one {
  animation: dotedOne 0.4s linear forwards;
}

.two {
  animation: dotedOne 0.4s linear forwards;
}

.tree {
  animation: dotedOne 0.4s linear forwards;
}

.one2 {
  animation: dotedOne2 0.4s linear forwards;
}

.two2 {
  animation: dotedOne2 0.4s linear forwards;
}

.tree2 {
  animation: dotedOne2 0.4s linear forwards;
}

@keyframes dotedOne {
  0%{
    background: #c3c3c3;
  }
  50%{
    background: #fff;
    transform: scale(1.7);
  }
  100%{
    background: #fff;
    transform: scale(1.2);
  }
}

@keyframes dotedOne2 {
  0%{
    background: #fff;
    transform: scale(1.2);
  }
  50%{
    background: #fff;
    transform: scale(1.7);
  }
  100%{
    background: #c3c3c3;
  }
}

.firstProdText {
  font-size: 14px;
  text-transform: none;
  text-align: center;
  letter-spacing: 1px;
}

.secondProdText,
.thirdProdText {
  font-size: 14px;
  text-transform: none;
  text-align: center;
  letter-spacing: 1px;
  display: none;
}

/*contacts*/

.castleWrapp {
  display: flex;
  padding-top: 50px;
}

.allCastlFlex {
  margin: auto;
  text-align: center;
  width: 370px;
}

.castleFirst {
  background: url("../images/castleFirst.png") no-repeat center;
  height: 150px;
  width: 124px;
  margin: auto;
}

.castleSecond {
  background: url("../images/castle2.png") no-repeat center;
  height: 150px;
  margin: auto;
  width: 124px;
}

.castleThird {
  background: url("../images/castle3.png") no-repeat center;
  height: 150px;
  width: 124px;
  margin: auto;
}

.titlesCastle {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "lato-black";
  margin-top: 50px;
  color: #e0ded6;
}

.textCaste {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #e0ded6;
}

.contactsTextWrapper {
  display: flex;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}

.blockTextAllContacts {
  width: 400px;
  text-align: center;
  margin: auto;
}

.blockTextAllContacts:first-child {
  text-align: left;
}

.blockTextAllContacts:first-child p {
  text-align: left;
}

.blockTextAllContacts:last-child {
  text-align: right;
}

.blockTextAllContacts:last-child p {
  text-align: right;
}

.nameTitlesText {
  color: #e0ded6;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "lato-black";
  margin-top: 50px;
}

.mailTextContacts {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #e0ded6;
}

.logo.firstAnimLogo {
  transform: scale(0);
}

.removeTransform {
  transform: scale(1);
}

.footer {
  background: #070f2e;
  position: relative;
  /*z-index: -101;*/
}

body .logo .orange-logo {
  width: 100%;
}
























body .logo .white-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: -80px;
  right: 0;
  display: block;
  margin: auto;
}

.animWhite {
  animation: anLogoWhite 1s linear forwards;
}

@keyframes anLogoWhite {
  100%{
    transform: scale(1);
  }
}
/*body .logo {*/
  /*z-index: 10;*/
/*}*/
/*MEDIA*/
.logo2 {
  position: fixed;
  left: 0;
  right: 0;
  width: 374px;
  bottom: 1px;
  top: 63px;
  margin: auto;
  transition: 1.6s;
  text-align: center;
  z-index: 0;
}


.footer .logo2 .white-logo {
  position: relative;
  opacity: 1;
  transition: all 0.7s;
}

.footerLogo {
  text-align: center;
}

.footerTitles {
  color: #e0ded6;
  font-size: 60px;
  line-height: 75px;
  font-family: "gara";
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 9px;
}

.footerTitles span {
  font-size: 34px;
}

.footerEmail {
  font-family: "gara";
  font-size: 28px;
  font-weight: bold;
  color: #3f4766;
  letter-spacing: 11px;
  position: relative;
}

.footerEmail:before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 62%;
  height: 1px;
  background: #e0ded6;
}

.videoBLockIcon {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 60px auto 40px;
  position: relative;
}

.videoBLockIcon img {
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all .3s;
}

.videoBLockIcon:hover img {
  transform: scale(1.3);
}

.subscribe {
  text-align: center;
  text-transform: uppercase;
  font-family: "lato-black";
}

.dropsLink {
  display: flex;
  list-style-type: none;
  padding: 0;
  height: 200px;
}

.link_drops {
  display: block;
  position: relative;
  margin: auto;
  font-family: "lato-black";
  color: #e0ded6;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.dropsMenu {
  position: absolute;
  bottom: -400px;
  list-style-type: none;
  padding: 0;
  opacity: 0;
  padding-bottom: 30px;
  transition: all .3s;
}

.link_drops:hover .dropsMenu {
  bottom: 0px;
  opacity: 1;
}

.link_drops .dropsMenu:hover  {
  bottom: 0px;
  opacity: 1;
}

.dropsMenu li>a {
  font-family: "lato-r";
  color: #e0ded6;
  text-decoration: none;
}

.dropsMenu li>a:hover {
  text-decoration: none;
}

@media (max-width: 1920px) {
  .productionBlock {
    width: 1640px;
  }

  .firstAnim,
  .secondAnim,
  .thirdAnim {
    width: 68%;
  }

  .ligt {
    margin: 0 1.5% 0 1.5%;
  }
}

@media (max-width: 1640px) {
  .productionBlock {
    width: 1300px;
  }

  .firstAnim,
  .secondAnim,
  .thirdAnim{
    right: -27%;
    width: 55%;
  }

  .media1640 {
    display: none;
  }
}

@media (max-width: 1300px) {
  .productionBlock {
    width: 991px;
  }

  .firstAnim,
  .secondAnim,
  .thirdAnim {
    right: -32%;
    width: 61%;
    top: 50px;
  }

  .media1300 {
    display: none;
  }

  .leftProdactionImg,
  .middleProdactionImg,
  .rightProdactionImg {
    height: 110px;
    background-size: contain;
  }

  .leftLineCircle {
    left: -12.5vh;
  }

  .leftLineBotCircle {
    left: -6.5vh;
  }

  .rightLineCircle {
    right: -12.8vh;
  }

  .rightLineBotCircle {
    right: -7.6vh;
  }
}

@media (max-width: 1200px) {
  .wrapp2 {
    width: 35vh;
    height: 35vh;
  }

  .arct2 {
    width: 35vh;
    height: 35vh;
  }

  .rightLineTop {
    right: -7.6vh;
  }

  .rightLineTopCircle {
    right: -9vh;
    top: calc(10.5% - 11px);
  }

  .rightLineBot {
    right: -6.2vh;
    top: 87%;
  }

  .rightLineBotCircle {
    top: calc(96.8% - 11px);
  }

  .leftLineBot {
    top: 91%;
    transform: rotate(-36deg);
  }

  .leftLineBotCircle {
    top: calc(101% - 11px);
  }

  .dopStyleRotate {
    height: 35vh;
    width: 35vh;
  }

  .leftBlockTextFade {
    left: -90vh;
  }

  .leftBlockText {
    width: 160px;
  }

  .lBlockImg {
    background-size: contain;
  }

  .arcStyle {
    width: 100%;
  }

  .leftBlockTextBotFade {
    left: -80vh;
  }

  .leftBlockTextBot {
    width: 160px;
  }

  .lBlockImgBot {
    background-size: contain;
  }

  .rightBlockTextFade {
    right: -74vh;
  }

  .lBlockImgTopRight {
    background-size: contain;
  }

  .rightBlockText {
    width: 160px;
  }

  .rightBlockTextMiddleFade {
    right: -82vh;
  }

  .rightBlockTextMiddle {
    width: 160px;
  }

  .lBlockImgRightMidle {
    background-size: contain;
  }

  .rightBlockTextBotFade {
    right: -75vh;
  }

  .rightBlockTextBot {
    width: 160px;
  }

  .lBlockImgRightBot {
    background-size: contain;
  }

  h1 {
    font-size: 45px;
  }

  .section_01 p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .section .next-slide {
    bottom: 50px;
  }

  .productionBlock {
    padding: 30px 0 0 0;
  }

  .firstProdText,
  .secondProdText,
  .thirdProdText{
    font-size: 12px;
    line-height: 20px;
  }

  .castleFirst,
  .castleSecond,
  .castleThird {
    height: 120px;
    background-size: contain;
  }

  .castleWrapp {
    padding-top: 20px;
  }

  body .logo .white-logo {
    bottom: 100px;
  }

  .fp-viewing-02 .logo {
    width: 25vh;
  }

  .titlesCastle {
    font-size: 12px;
    margin-top: 20px;
  }

  .textCaste {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 10px;
  }

  .nameTitlesText {
    font-size: 10px;
  }

  .mailTextContacts {
    font-size: 10px;
    color: #e0ded6;
  }

  .contactsTextWrapper {
    width: 85%;
  }
}

@media (max-width: 1025px) {
  #titlesFade {
    font-size: 30px;
  }

  .productionBlock {
    width: 750px;
  }

  .leftProdaction, .middleProdaction, .rightProdaction {
    width: 30%;
  }

  .firstAnim, .secondAnim, .thirdAnim {
    right: -29%;
    width: 54%;
  }

  .media768 {
    display: none;
  }

  .footerEmail:before {
    width: 85%;
  }

  .leftLineCircle {
    left: -12.8vh;
  }

  .leftLineBotCircle {
    left: -6.8vh;
  }

  .rightLineBotCircle {
    right: -8vh;
  }

  .rightLineCircle {
    right: -13.4vh;
  }

  .rightLineTopCircle {
    right: -9.4vh;
    top: calc(10.5% - 11px);
  }

  .titlesProd {
    font-size: 13px;
  }

  body .logo .white-logo {
    bottom: -80px;
  }
}

@media (max-width: 768px) {
  .leftBlockTextFade {
    left: -30vh;
    top: 0;
    margin-top: 0;
  }

  .rightBlockTextFade {
    right: -30vh;
    top: 0;
    margin-top: 0;
  }

  .leftBlockTextBotFade {
    left: -30vh;
    top: 200px;
    margin-top: 0;
  }

  .rightBlockTextMiddleFade {
    right: -30vh;
    margin-top: 0;
    top: 200px;
  }

  .rightBlockTextBotFade {
    top: 250px;
    right: 0;
  }

  .dopStyleRotate {
    display: none;
  }

  body .logo .white-logo {
    bottom: auto;
    top: 0;
  }
}

@media (max-width: 767px) {
  body .logo {
    width: 200px;
  }

  .productionBlock {
    width: 100%;
  }

  h1,
  #titlesFade {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }

  .section_01 p {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .section_01 .wrapper-section {
    margin: 38px auto;
  }

  body .hidden-btn_menu, body .burger-menu {
    left: 0px;
    top: 0px;
  }

  /*.section.section_02.fp-section.active {*/
    /*padding-top: 0 !important;*/
  /*}*/

  .leftBlockTextTitles {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 0;
  }

  .lBlockImg,
  .lBlockImgTopRight,
  .lBlockImgBot {
    height: 30px;
  }

  .leftBlockTextTitlesDate {
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 0;
  }

  .leftBlockTextFade {
    left: 0;
  }

  .rightBlockTextFade {
    right: 0;
    top: 80px;
    margin-top: 0;
  }

  .leftBlockTextBotFade {
    left: 0;
    top: 160px;
    margin-top: 0;
  }

  .rightBlockTextMiddleFade {
    right: 0;
    margin-top: 0;
    top: 240px;
  }

  .rightBlockTextMiddle {
    line-height: 20px;
  }

  .rightBlockTextBotFade {
    top: 310px;
    line-height: 20px;
    right: 0;
    margin-top: 0;
  }

  .productionBlock {
    display: block;
  }

  .firstAnim, .secondAnim, .thirdAnim {
    display: none;
  }

  .leftProdaction, .middleProdaction, .rightProdaction {
    width: 85%;
    margin: auto;
  }

  .firstProdText, .secondProdText, .thirdProdText {
    font-size: 10px;
    line-height: 12px;
  }

  .titlesProd {
    font-size: 9px;
  }

  .leftProdactionImg, .middleProdactionImg, .rightProdactionImg {
    height: 50px;
  }

  #fp-nav ul li .fp-tooltip.right {
    right: -55px;
  }

  #fp-nav ul li, .fp-slidesNav ul li {
    margin: 20px 10px;
    transition: 1.4s;
  }

  #fp-nav.right {
    right: 0;
  }

  .castleWrapp {
    display: block;
  }

  .castleFirst, .castleSecond, .castleThird {
    height: 50px;
  }

  .allCastlFlex {
    width: 100%;
  }

  .titlesCastle {
    margin-top: 12px;
  }

  .textCaste {
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 3px;
  }

  .blockTextAllContacts:first-child {
     text-align: center;
  }

  .blockTextAllContacts {
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .contactsTextWrapper {
    width: 100%;
    display: block;
    text-align: center;
  }

  .nameTitlesText {
    font-size: 8px;
    margin-top: 12px;
  }

  .blockTextAllContacts:first-child p {
     text-align: center;
  }

  .mailTextContacts {
    line-height: 0;
  }

  .blockTextAllContacts:last-child {
    text-align: center;
  }

  .blockTextAllContacts:last-child p {
    text-align: center;
  }

  .logo2,
  .footer .logo2 .white-logo{
    width: 100%;
  }

  .footerTitles {
    font-size: 20px;
    line-height: 30px;
  }

  .footerTitles span {
    font-size: 14px;
  }

  .footerEmail {
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
  }

  .footerEmail:before {
    bottom: -20px;
    width: 75%;
  }

  .videoBLockIcon {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 40px auto 20px;
    position: relative;
  }

  .videoBLockIcon img {
    width: 10px;
  }

  .dropsLink {
    display: block;
    margin-left: 15px;
  }

  .logo2 {
    width: 200px;
  }

  body .copyright {
    left: 15px;
    bottom: 10px;
  }

  body .logo {
    top: 17px;
  }

  body .logo {
    top: 17px;
    height: 50px;
    margin: 0 auto;
  }

  .section_01,
  .section_02,
  .section_03,
  .section_04 {
    padding-top: 1em !important;
  }

  .titlesProd {
    padding-top: 0;
  }

  body .logo .orange-logo,
  body .logo .white-logo {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    left: 0;
    right: 0;
  }
}